<div class="uploaded-videos">
    <div *ngIf="isUserVideosListNotEmpty();then content else fallback"></div>

    <ng-template #fallback>
        <div class="d-flex flex-column mx-auto text-center">
            <div>
                <img class="cameraman-image" src="../../../../assets/images/npc/popo-cameraman.png" width="300"
                    alt="Popo the cameraman, a polar bear" />
            </div>
            <div>
                <p class="my-0 p-0 mx-auto text-center quote">
                    <strong>
                        <span class="text-info">"</span>Every great workspace have to start with a great video!<span
                            class="text-info">"</span>
                    </strong>
                </p>

                <span class="text-muted"> - Popo, Cameraman</span>

                <div class="my-2">
                    <button mat-flat-button color="primary" (click)="onUploadVideoClick()">Upload my first
                        video!</button>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #content>
        <div class="text-start">

            <div *ngIf="0 < (userVideosList?.unprocessedVideos || []).length">
                <h2 class="m-2">Unprocessed Videos</h2>
                <div class="table-wrapper">
                    <app-unprocessed-videos-table (deleteVideoEmitter)="onDelete($event)"
                        [unprocessedVideos]="userVideosList?.unprocessedVideos || []">
                    </app-unprocessed-videos-table>
                </div>
            </div>

            <br>

            <div *ngIf="0 < (userVideosList?.videos || []).length">
                <h2 class="m-2">Ready Videos</h2>
                <div class="table-wrapper">
                    <app-videos-table (editVideoEmitter)="onEdit($event)" (deleteVideoEmitter)="onDelete($event)"
                        (watchVideoEmitter)="onWatch($event)" [videos]="userVideosList?.videos || []">
                    </app-videos-table>
                </div>
            </div>
        </div>
    </ng-template>
</div>