<div class="workspace">
    <div class="toolbar">
        <mat-toolbar>
            <mat-toolbar-row class="justify-content-end">
                <button mat-stroked-button color="primary" class="shadow-sm" matTooltip="Upload a new video"
                    [matTooltipPosition]="'left'" (click)="openUploadVideoDialog()">
                    <fa-icon [icon]="icons.createPlusIcon"></fa-icon>
                    &nbsp;
                    <span>CREATE</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <app-content-padding>
        <div class="text-center">
            <div *ngIf="fetchingUserVideosList;then watingForUserVideosList else userVideosListIsReady"></div>
            <ng-template #userVideosListIsReady>
                <app-uploaded-videos (editVideoEmitter)="onEditVideoRequest($event)"
                    (watchVideoEmitter)="onWatchVideoRequest($event)"
                    (deleteVideoEmitter)="onDelete($event)" (uploadVideoEmitter)="onUploadVideoRequest($event)"
                    [userVideosList]="userVideosList">
                </app-uploaded-videos>
            </ng-template>
            <ng-template #watingForUserVideosList>
                <div class="py-3">
                    <mat-spinner class="text-center mx-auto" [diameter]="80"></mat-spinner>
                </div>
            </ng-template>
        </div>
    </app-content-padding>
</div>