<div class="page-not-found">
    <app-content-padding>

        <div class="w-100 text-center d-flex justify-content-center flex-column">
            <div class="text-center my-3">
                <img class="guide-image" src="../../../assets/images/npc/felix-the-guide.png" width="400"
                    alt="Felix the guide, a cat" />
            </div>
            <div class="d-flex justify-content-center flex-column">
                <h2 class="heading"><strong>404 - PAGE NOT FOUND</strong></h2>
                <p>The requested URL <span class="url">{{url}}</span> was not found on this server. <span class="text-muted">That's all we
                        know.</span></p>
                <p>We sent Felix to get you home safely.</p>
            </div>
            <div class="mx-auto my-2 w-25">
                <button mat-flat-button color="primary" [routerLink]="'/'">meow!</button>
            </div>
        </div>

    </app-content-padding>
</div>