<div class="app" [ngClass]="(isDarkTheme | async)? 'dark-theme': 'light-theme'">
    <div class="mat-app-background">
        <ng-toast-stack></ng-toast-stack>

        <!-- Logo display view until app is ready -->
        <div [hidden]="displayApp">

            <mat-progress-bar *ngIf="!appIsDown" mode="indeterminate" class="position-fixed"></mat-progress-bar>

            <div class="vh-100 d-flex align-items-center justify-content-center align-middle flex-column">
                <app-logo></app-logo>
                <div *ngIf="appIsDown" class="pt-2 text-primary">
                    Seems like we are currently down, We will be back soon
                    <br>
                    thank you for your understanding!
                </div>
            </div>
            <div class="position-absolute bottom-0 mb-3 text-center w-100">
                <span class="text-muted">from</span>
                <br>
                <span class="fw-bold text-monospace" [style.color]="'var(--primary-color)'">{{creator}}</span>
            </div>
        </div>

        <!-- App content -->
        <div *ngIf="isAppReady" [hidden]="!displayApp">
            <app-header class="sticky"></app-header>
            <app-content></app-content>
        </div>
    </div>
</div>