<div *ngIf="video" class="d-flex p-2 video-summary">
    <div class="mx-2 position-relative thumbnail-wrapper rounded">
        <img [src]="video.thumbnailUrl" [alt]="video.description" class="thumbnail" />
        <span class="position-absolute video-duration py-1 px-2 rounded">
            {{video.durationSeconds | secondsToTime}}
        </span>
    </div>
    <div class="d-flex flex-column mx-2 p-2">
        <label class="title">
            {{ video.isListed() && video.title ? video.title: video.fileName }}
        </label>
        <p class="text-muted description">
            {{ video.isListed() && video.description ? video.description: 'No Description' }}
        </p>

        <div class="d-flex flex-row">
            <button mat-button [disabled]="video.sync" (click)="onEdit(video)" matTooltip="Edit"
                [matTooltipPosition]="'below'">
                <fa-icon [hidden]="video.sync" [icon]="icons.edit"></fa-icon>
            </button>

            <button mat-button [disabled]="!video.isListed() || video.sync" (click)="onWatch(video)"
                matTooltip="{{video.isListed()?'Watch' : null}}" [matTooltipPosition]="'below'">
                <fa-icon *ngIf="!video.sync" [icon]="icons.watch"></fa-icon>

                <mat-spinner *ngIf="video.sync" class="text-center mx-auto" [diameter]="24"></mat-spinner>
            </button>

            <button mat-button [disabled]="video.sync" (click)="onDelete(video)" matTooltip="Delete forever"
                [matTooltipPosition]="'below'">
                <fa-icon [hidden]="video.sync" [icon]="icons.delete"></fa-icon>
            </button>
        </div>

        <p class="text-muted opacity-75" *ngIf="!video.isListed()">
            <span class="text-danger">*</span> Edit before watching.
        </p>
    </div>
</div>