<div class="explore">
    <app-content-padding>
        <div #scrollContainer class="container-fluid my-2" infiniteScroll [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="!hasNext || loadingMoreVideos"
            (scrolled)="onScroll()">

            <div *ngIf="videos.length < 1">
                <!-- No videos to explor yet -->
                <div class="mx-auto">
                    <div class="w-100 text-center  align-items-center  flex-column">
                        <img class="scout-image" src="../../../assets/images/npc/scout-explorer-in-chief.png" width="320"
                            alt="Scout, Explorer In Chief, a Fox" />
                    </div>
                    <div class="d-flex align-items-center text-center flex-column">
                        <p>Scout, Explorer In Chief, Couldn't find any public videos yet...</p>
                    </div>
                    <div class="mx-auto text-center">
                        <button mat-flat-button color="primary" [routerLink]="'/workspace'">Start the trend - upload now!</button>
                    </div>
                </div>
            </div>

            <div *ngIf="0 < videos.length" class="videos row justify-content-start">
                <div *ngFor="let video of videos" class="video col-sm-12 text-center col-md-6 col-lg-3">
                    <div mat-button class="py-1 px-1 position-relative mx-auto thumbnail rounded">
                        <div class="position-relative video-overview" (click)="onWatch(video)">
                            <div class="thumbnail-inner">
                                <img [src]="video.thumbnailUrl" class="thumbnail-image rounded img-fluid" />
                                <span class="position-absolute video-duration px-2 py-1 rounded">
                                    {{video.durationSeconds | secondsToTime}}
                                </span>
                            </div>
                            <span class="watch">
                                <fa-icon [icon]="icons.watch"></fa-icon>
                                WATCH
                            </span>
                        </div>

                        <div class="d-flex flex-column my-1 text-start">
                            <label class="title">
                                {{ video.title }}
                            </label>
                            <p class="text-muted m-0">
                                {{timeAgo(video.listingTime)}}
                            </p>

                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="loadingMoreVideos">
                <div class="py-3">
                    <mat-spinner class="text-center mx-auto" [diameter]="80"></mat-spinner>
                </div>
            </div>
        </div>

    </app-content-padding>
</div>