/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzU3NmFlOSIsIj9lcjwjY2RkMmY4IiwiO2VyPCMzYzRkZGZ$LCIlPmBePCNmNWFhNWMiLCI~ZXI8I2ZjZTZjZSIsIjtlcjwjZjA5MDQxfiwid2Fybj5gXjwjZjA0NzQ4IiwiP2VyPCNmYmM4YzgiLCI7ZXI8I2U5MmYzMH4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyMzI3MmJ$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxUd29Ub25lIiwiP25lc3M$dHJ1ZSwidmVyc2lvbj4xM30=
*/

@use '@angular/material' as mat;

@import './pallete.scss';

// Theme Init
.light-theme {
    @include mat.all-component-themes($lightTheme);
}

.dark-theme {
    @include mat.all-component-themes($darkTheme);
}

// Specific component overrides, pieces that are not in line with the general theming
// custom components
@import "./app/toolbar/toolbar.component.scss";
@import "./app/toolbar/theme-toggle/theme-toggle.component.scss";
@import "./app/common/logo/logo.component.scss";
.light-theme {
    @include light-toolbar-theme($lightTheme, $light-header-bg);
    @include light-theme-toggle-theme($lightTheme, $light-header-bg, $dark-header-bg);
    @include light-logo-theme($lightTheme);
}
.dark-theme {
    @include dark-toolbar-theme($darkTheme, $dark-header-bg);
    @include dark-theme-toggle-theme($darkTheme, $dark-header-bg, $light-header-bg);
    @include dark-logo-theme($darkTheme);
}


// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
    padding: 0 1.15em;
    margin: 0 .65em;
    min-width: 3em;
    line-height: 36.4px
}

.mat-standard-chip {
    padding: .5em .85em;
    min-height: 2.5em;
}

.material-icons {
    font-size: 24px;
    font-family: 'Material Icons Two Tone', 'Material Icons';

    .mat-badge-content {
        font-family: 'Roboto';
    }
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
