/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzU3NmFlOSIsIj9lcjwjY2RkMmY4IiwiO2VyPCMzYzRkZGZ$LCIlPmBePCNmNWFhNWMiLCI~ZXI8I2ZjZTZjZSIsIjtlcjwjZjA5MDQxfiwid2Fybj5gXjwjZjA0NzQ4IiwiP2VyPCNmYmM4YzgiLCI7ZXI8I2U5MmYzMH4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyMzI3MmJ$LCJmb250cz5bYEA8KC00fixgQDwoLTN$LGBAPCgtMn4sYEA8KC0xfixgQDxoZWFkbGluZX4sYEA8dGl0bGV$LGBAPHN1YiktMn4sYEA8c3ViKS0xfixgQDxib2R5LTJ$LGBAPGJvZHktMX4sYEA8YnV0dG9ufixgQDxjYXB0aW9ufixgQDxpbnB1dCIsInNpemU$bnVsbH1dLCJpY29uczxUd29Ub25lIiwiP25lc3M$dHJ1ZSwidmVyc2lvbj4xM30=
*/

@use '@angular/material' as mat;

@import './pallete.scss';

@include mat.all-component-themes($lightTheme);

// Theme Init
.light-theme {
    @include mat.all-component-themes($lightTheme);
}

.dark-theme {
    @include mat.all-component-themes($darkTheme);
}

// Specific component overrides, pieces that are not in line with the general theming
// custom components
@import "./app/header/header.component";
@import "./app/header/toolbar/theme-toggle/theme-toggle.component";
@import "./app/common/logo/logo.component";

.light-theme {
    @include light-header-theme($lightTheme, $light-header-bg, $dark-primary-text, $dark-accent-text);
    @include light-theme-toggle-theme($lightTheme, $light-header-bg, $dark-header-bg);
    @include light-logo-theme($lightTheme);

    .mat-dialog-background {
        background-color: $light-header-bg;
    }

    /* ng toast stack */
    ng-toast-stack {
        z-index: 1001;
        position: absolute;
    }
}

.dark-theme {
    @include dark-header-theme($darkTheme, $dark-header-bg, $light-primary-text, $light-accent-text);
    @include dark-theme-toggle-theme($darkTheme, $dark-header-bg, $light-header-bg);
    @include dark-logo-theme($darkTheme);

    .mat-dialog-background {
        background-color: $dark-header-bg;
    }

    /* ng toast stack */
    ng-toast-stack {
        z-index: 1001;
        position: absolute;

        .ng-toast-stack {
            background-color: $dark-bg-tooltip;

            .ng-toast-stack-title {
                color: $light-primary-text;
            }

            .ng-toast-stack-message {
                color: var(--primary-lighter-color);
            }

            .ng-toast-stack-timer {
                background-color: $dark-header-bg;

                .ng-toast-stack-timer-bar {
                    background-color: $dark-bg-lighter-30;
                }
            }
        }
    }
}


// Handle buttons appropriately, with respect to line-height
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
    padding: 0 1.15em;
    margin: 0 .65em;
    min-width: 3em;
    line-height: 36.4px
}

.mat-standard-chip {
    padding: .5em .85em;
    min-height: 2.5em;
}

.material-icons {
    font-size: 24px;
    font-family: 'Material Icons Two Tone', 'Material Icons';

    .mat-badge-content {
        font-family: 'Roboto';
    }
}

.mat-dialog-container,
.mat-dialog-content,
.mat-dialog-actions {
    margin: 0 !important;
    padding: 0 !important;
    background: unset;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.clickable {
    cursor: pointer;

    &.dark-on-hover:hover {
        filter: brightness(0.8);
    }
}

.float-right {
    float: right;
}