.app-toolbar {
    position: relative;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    mat-toolbar-row {
        justify-content: space-between;
    }
}

@mixin light-toolbar-theme($lightTheme, $background) {
    .app-toolbar {
        background-color: $background !important;
    }
}

@mixin dark-toolbar-theme($darkTheme, $background) {
    .app-toolbar {
        background-color: $background !important;
    }
}