.navbar {
    .responsive__active {
        display: flex !important;
        @media screen and (max-width: 992px) {
            display: none !important;
        }
    }

    .responsive__inactive {
        @media screen and (min-width: 993px) {
            display: flex !important;
        }
    }
}

@mixin light-header-theme($lightTheme, $background, $primaryFontColor, $accentFontColor) {
    .navbar {
        background-color: $background !important;

        .navbar-toggler:focus {
            color: $accentFontColor !important;
        }

        .navbar-toggler-icon {
            color: $accentFontColor !important;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$accentFontColor}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
            border-color: $accentFontColor !important;
        }

        .navbar-nav .nav-item a {
            color: $primaryFontColor !important;

            &:hover {
                color: $accentFontColor !important;
            }
        }
    }
}

@mixin dark-header-theme($darkTheme, $background, $primaryFontColor, $accentFontColor) {
    .navbar {
        background-color: $background !important;

        .navbar-toggler:focus {
            color: $accentFontColor !important;
        }

        .navbar-toggler-icon {
            color: $accentFontColor !important;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$accentFontColor}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
            border-color: $accentFontColor !important;
        }

        .navbar-nav .nav-item a {
            color: $primaryFontColor !important;

            &:hover {
                color: $accentFontColor !important;
            }
        }
    }
}