.theme-toggle {
    position: relative;
    vertical-align: middle !important;

    .toggle-icon {
        font-size: 1.2rem;
        display: none;
    }

    @media screen and (max-width: 992px) {
        .toggle-icon-button {
            width: fit-content;

            .toggle-icon {
                font-size: 1rem;
            }
        }
    }
}

.light-theme {
    .theme-toggle {
        .toggle-icon {
            &.sun {
                display: inline-block !important;
            }
        }
    }
}

.dark-theme {
    .theme-toggle {
        .toggle-icon {
            &.moon {
                display: inline-block !important;
            }
        }
    }
}
