.theme-toggle {
    position: relative;
    vertical-align: middle !important;

    .toggle-icon {
        font-size: 1.2rem;
    }

    @media screen and (max-width: 992px) {
        .toggle-icon-button {
            width: fit-content;

            .toggle-icon {
                font-size: 1rem;
            }
        }
    }
}

@mixin light-theme-toggle-theme($oppositeBackground) {
    .theme-toggle {
        .toggle-icon {
            color: $oppositeBackground;

            &.moon {
                display: none;
            }

            &.sun {
                display: inline-block;
            }
        }
    }
}

@mixin dark-theme-toggle-theme($oppositeBackground) {
    .theme-toggle {
        .toggle-icon {
            color: $oppositeBackground;

            &.sun {
                display: none;
            }

            &.moon {
                display: inline-block;
            }
        }
    }
}