.app-logo {
    .logo {
        vertical-align: middle !important;
        width: 240px;

        @media screen and (max-width: 640px) {
            width: 180px;
        }
    }
}


@mixin light-logo-theme($lightTheme) {
    .app-logo {
        .logo {
            content: url("../../../assets/images/logo/streamtime-logo-black.png");

            &:hover {
                filter: drop-shadow(0 0 0.5rem var(--accent-lighter-color));
            }
        }
    }
}

@mixin dark-logo-theme($darkTheme) {
    .app-logo {
        .logo {
            content: url("../../../assets/images/logo/streamtime-logo-white.png");

            &:hover {
                filter: drop-shadow(0 0 0.5rem var(--primary-darker-color));
            }
        }
    }
}